{% extends 'patient/profile.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block nev_block %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li class="active">Profile Update</li>
{%  endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'custom/re_design.css' %}"/>
<link rel="stylesheet" href="{% static 'custom/profile.css' %}"/>
<style>
    .inner-banner {
        padding: 30px 0 30px !important;
    }
    .card-body {
        padding: 0px 65px;
    }
    .card {
        width: 347px !important;
    }
    .container.make-box {
        margin-top: 10%;
    }
    .image-class_search {
        width: 78%;
    }
    .image-class {
        width: 66%;
    }
</style>
{% endblock %}

{% block profile_block %}

<div class="container-fluid make-box">
    <br>
    <div class="row">
        <div class="col-md-12" style="margin-top:30px">
            <h2>My Appointment History</h2>
            <br/>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Doctor Name</th>
                            <th>Hospital</th>
                            <th>Date and Time</th>
                            <th>Serial Number</th>
                            <th>Fee</th>
                            <th>Status</th>
                            <th>Action</th>
                        </th>
                    </thead>

                    <tbody>
                        {% for appointment in appointment_list %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{appointment.doctor}}</td>
                        <td>{{appointment.doctor}}  {{ appointment.doctor.present_hospital }}</td>
                        <td style="width:140px">
                            {{ appointment.appointment_day }} <br/>( <strong> Time:</strong> {{ appointment.appointment_time }})
                        </td>
                        <td> {{ appointment.serial_number }}</td>
                        <td> {{ appointment.fee }}</td>
                        <td>
                            {% if appointment.status == "pending"  %}
                                <span class="label label-default">{{ appointment.status|title }}</storng>
                            {% elif appointment.status == "cancelled"  %}
                                <span class="label label-danger">{{ appointment.status|title }}</storng>
                            {% elif appointment.status == "confirmed"  %}
                                <span class="label label-primary">{{ appointment.status|title }}</storng>
                            {% elif appointment.status == "completed"  %}
                                <span class="label label-success">{{ appointment.status|title }}</storng>
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.status == "confirmed" %}
                            <a class="btn btn-outline-primary" href="{% url 'patient_ms:appointment_download' pk=appointment.pk %}">
                                <i class="fa fa-plus-square-o" aria-hidden="true"> Download</i>
                            </a>
                            {% endif %}

                            {% if appointment.status == "completed"  %}
                                {% if appointment.patient.patient_data %}
                                    <a class="btn btn-outline-success" href="{% url 'patient_ms:pms_view_record' pk=appointment.pk %}"> <!-- object.patient is user -->
                                        <i class="fa fa-clipboard"> All Record </i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
        </div>
    </div>
</div>


<form id="application_form" action="" enctype="multipart/form-data"
      class="form-register" method="POST" accept-charset="UTF-8">
    {% csrf_token %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Search by Date</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-6">


                        <div id="div_id_appointment_day" class="form-group">
                            <label for="id_appointment_day" class=" requiredField">Appointment Day<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="date" name="appointment_day" class="dateinput form-control" required="" id="id_appointment_day">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
{%  endblock %}

