{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'custom/re_design.css' %}"/>
<link rel="stylesheet" href="{% static 'custom/registation.css' %}"/>
    <style>
    .modal-dialog {
        width: 65% !important;
        margin: 30px auto !important;
    }
    </style>
{% endblock style %}

{% block maincontent %}
<!--inner banner-->
<div class="inner-banner" style="margin-bottom:30px">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Registration</h1>
            </div>
            <div class="col-md-5">
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Registration</li>
                    <li class="active">Type</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!--inner banner End-->
<div class="container" style="margin-bottom:30px">
    <form action="" enctype="multipart/form-data" class="form-register mt-3" method="POST" accept-charset="UTF-8">
        {% csrf_token %}
        <div class="row">
            {% if registration_type == 'doctor' %}
                <h5 class="modal-title text-center">Doctor Registration Form</h5>
                <div class="form-group">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.doctor_id|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.picture|as_crispy_field }}
                </div>

                <div class="form-group">
                        {{ form.speciality|as_crispy_field }}
                </div>

                <div class="form-group">
                    {% crispy signup %}
                </div>
            {% else %}
                <h5 class="text-center py-3">Patient Registration Form</h5>
                <div class="form-group">
                    {{ form_patient.name|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form_patient.age|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form_patient.nid|as_crispy_field }}
                </div>
                <div class="form-group">
                    {% crispy signup_patient %}
                </div>
            {% endif %}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit Form</button>
            </div>
        </div>
    </form>
</div>
<!--Main Content End-->
{% endblock maincontent %}

{% block extra_js %}
{% endblock extra_js %}