{% extends 'base.html' %}
{% load static %}
{% block title_text %}Search Doctor's{% endblock %}
{% block reg_heading_text %}Search Doctor's{% endblock %}

{% block maincontent %}
<!--Main Content Start-->
<div class="main-content">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="row no-gutters justify-content-center">
                <form class="col my-auto p-3" method="POST" accept-charset="UTF-8">
                    {% csrf_token %}
                    {% include 'snippets/hidden_fields.html' %}
                    <!-- email -->
                    <div class="form-row p-1">
                        {% include 'snippets/input_field.html' with form=form formfld=form.name placeholder=form.name.label icon='' %}
                        <p class="mt-2">{{ form.name.help_text }}</p>
                    </div>
                    <br/>

                    <div class="container">
                      <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-4">
                            <button id='submit' class="btn btn-sm btn-block btn-success font-saira w-100 mt-2" type="submit">
                              <i class="fas fa-sign-in-alt mr-1"></i>Search
                            </button>
                          </div>
                          <div class="col-md-4"></div>
                      </div>
                    </div>

                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock maincontent %}

{% block extra_js %}
    <script src="{% static 'js/passwd_show.js' %}"></script>
    <script src="{% static 'js/btn_loader.js' %}"></script>
{% endblock extra_js %}