{% extends 'base.html' %}
{% load static %}
{% block maincontent %}

<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Our Doctors</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Doctors</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <div class="team-page">
    <div class="container">

      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="{% url 'search_doctor' %}" target="_blank" class="btn btn-danger">
              Search doctor by symptom's
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>
      </div>

      <div class="row">
        {% for doctor in object_list %}
        <div class="col-md-6 col-sm-6">
          <div class="team-box mb50">
            <div class="team-thumb">
              <a href="{% url 'doctor_details' doctor.id %}" class="view">
                <i class="fa fa-Heart" aria-hidden="true"></i></a>
                {% if doctor.picture %}
                  <img src="{{ doctor.picture.url }}" alt="">
                {% else %}
                  <img src="{% static 'image/list.gif' %}" alt="Doctor Image">
                {% endif %}
            </div>
            <div class="team-text">
              <h5><a href="{% url 'doctor_details' doctor.id %}">{{ doctor.name }}</a></h5>

              <!-- educations -->
              <h4>
              {% for doctor_degree in doctor.doctor_degrees.all %}
                <strong>
                  {{ doctor_degree }}

                  {% if degree.subject %}
                    ({{degree.subject}})
                  {% endif %}
                </strong>

                {% if not forloop.last %},{% endif %}
              {% endfor %}
              </h4>

              {% for speciality in doctor.speciality.all %}
                <strong>{{ speciality }}</strong>{% if not forloop.last %},{% endif %}
              {% endfor %}

              <p>
              {% for obj in doctor.expertize.all %}
                {{ obj }}{% if not forloop.last %},{% endif%}
              {% endfor %}
              </p>

              <p style="margin-top:10px;color:#000">
                {% if doctor.present_hospital %}
                  <strong>{{ doctor.present_hospital }}</strong>
                {% endif %}
              </p>
              <p>{{ doctor.year_of_experience|default_if_none:"1" }} Year of Experiences</p>

              <ul class="team-social">
                {% if doctor.twitter %}
                <li><a class="tw" href="{{ doctor.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                {% endif %}
                {% if doctor.facebook %}
                <li><a class="fb" href="{{ doctor.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if doctor.instagram %}
                <li><a class="insta" href="{{ doctor.instagram }}"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if is_paginated %}
          {% include 'partials/_pagination.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock maincontent %}