{% extends "dashboard/dashboard.html" %}
{% load static %}


{% block extra_css  %}
<style>
    img.image-sise {
        width: 60%;
        margin: 0 25%
    }
</style>
{% endblock extra_css %}


{% block body  %}
<div class="col-md-12" style="margin-bottom:30px">
    <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="GET">
    <div class="col-md-8">
        <input type="date" name="date" class="form-control" id="id_date" placeholder="">
    </div>

    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    </form>
</div>

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">New Patient List</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Age</th>
                <th>Problem</th>
                <th>Time</th>
                <th>Created At</th>
                <th>Status</th>
                <th class="col-md-3 col-xs-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for object in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ object.patient.patient_data.name }}</td>
                    <td>{{ object.patient.phone }}</td>
                    <td>{{ object.patient.patient_data.age }}</td>
                    <td>{{ object.problem }}</td>
                    <td>{{ object.appointment_time }}</td>
                    <td>{{ object.created_at|date:"l, M d, Y h:i:s a" }}</td>
                    <td class="text-center">
                        {% if object.status == "pending"  %}
                            <span class="label label-default">{{ object.status|title }}</storng>
                        {% elif object.status == "cancelled"  %}
                            <span class="label label-danger">{{ object.status|title }}</storng>
                        {% elif object.status == "confirmed"  %}
                            <span class="label label-primary">{{ object.status|title }}</storng>
                        {% elif object.status == "completed"  %}
                            <span class="label label-success">{{ object.status|title }}</storng>
                        {% endif %}
                    </td>
                    <td class="col-md-3 col-xs-1">
                        {% if object.status == "confirmed" or object.status == "completed"  %}
                        <a class="btn btn-outline-success" href="{% url 'patient_ms:view_record' pk=object.patient.pk %}">
                            <i class="fa fa-clipboard"> All Record </i>
                        </a>
                        <a class="btn btn-outline-primary" href="{% url 'patient_ms:add_record' pk=object.patient.pk %}">
                            <i class="fa fa-plus-square-o" aria-hidden="true"> Add Record</i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor  %}
            {% else %}

            </tbody>
        </table>
        <div class="image_div">
         <img class="image-sise" src="{% static 'image/list.gif' %}">
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}