{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block extra_css  %}
    <style>
        img.image-sise {
            width: 60%;
            margin: 0 25%
        }
    </style>
{% endblock extra_css %}

{% block title_text %}Not Visit Appointment {% endblock title_text %}

{% block body  %}
<div class="col-md-12" style="margin-bottom:30px">
    <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="GET">
        <div class="col-md-4">
            <input type="text" name="q" value="{{q|default_if_none:''}}" class="form-control" id="id_q" placeholder="Search by Phone number">
        </div>

        <div class="col-md-4">
            <input type="date" name="date" class="form-control" id="id_date" placeholder="">
        </div>

        <div class="col-md-4">
            <a href="{% url 'uncheck_appointment_list' %}" class="btn btn-info">Reset</a>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">New Patient List</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Age</th>
                    <th>Problem</th>
                    <th>Appointment Day</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th class="col-md-3 col-xs-1">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for object in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ object.patient.patient_data.name }}</td>
                    <td>{{ object.patient.phone }}</td>
                    <td>{{ object.patient.patient_data.age }}</td>
                    <td>{{ object.problem }}</td>
                    <td>{{ object.appointment_day|date:"l, M d, Y" }}</td>
                    <td>{{ object.appointment_time }}</td>

                    <td title="{{object.status}}">
                        {% if object.status == "pending"  %}
                            <span class="label label-default">{{ object.status|title }}</storng>
                        {% elif object.status == "cancelled"  %}
                            <span class="label label-danger">{{ object.status|title }}</storng>
                        {% elif object.status == "confirmed"  %}
                            <span class="label label-primary">{{ object.status|title }}</storng>
                        {% elif object.status == "completed"  %}
                            <span class="label label-success">{{ object.status|title }}</storng>
                        {% endif %}
                    </td>
                    <td class="col-md-3 col-xs-1">
                        {% if object.status == "pending"  %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal-{{object.pk}}">
                                Confirm Appointment
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-{{object.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{object.pk}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h5 class="modal-title" id="myModalLabel-{{object.pk}}">
                                                Are you sure want confirm this appointment?
                                            </h5>
                                        </div>
                                        <form action="" method="POST" class="w-100">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="{{object.pk}}" />
                                                <p>Appointment Date: <strong>{{ object.appointment_day|date:'m/d/Y'}}</strong> Appointment Time: <strong>{{ object.appointment_time}}</strong></p>
                                                <p class="help-block">If want to confirm other day, then change the date and time.</p>
                                                <input type="date" name="appointment_date" value="{{object.appointment_day}}" />
                                                <input type="time" name="appointment_time" value="{{object.appointment_time}}" />
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" name="submit" value="confirm" class="btn btn-success">Confirm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor  %}
            {% else %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}